/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    background-image: url('bgpagina.jpg');
    background-size: cover; /* A imagem cobrirá toda a tela */
    background-position: center; /* A imagem será centralizada */
    background-attachment: fixed; /* A imagem ficará fixa ao rolar a página */

    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:  10;
}

header {
    position:fixed;
    width: 100%;
    background-color: rgba(38, 70, 83, 0.75); 
    /*background-color: #264653;*/
    padding: 20px;
    text-align: center;
    color: white;
    margin-bottom:20px;
}

header h1 {
    font-size: 1.5rem;
}

#cabi img {
    border-radius: 50%;
    margin-right: 20px;
}
#cabt {
display: inline;
}
/* Formulário */
.form-section {
    background-color: white;
    margin-top: 200px;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-titulo h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #264653;
}

.form-fields {
    display: flex;
    flex-direction: column;
}

.form-fields label {
    margin-bottom: 8px;
    font-weight: bold;
}

.form-fields input, .form-fields select {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

input[type="submit"], button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #264653;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

input[type="submit"]:hover, button:hover {
    background-color: #2a9d8f;
}

/* Estilos do Modal */
.modal {
    display: none;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 60%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}

.modal-success {
    background-color: #4CAF50;
    color: white;
}

.modal-error {
    background-color: #f44336;
    color: white;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
